<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trodin.gustav.trmanager" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListAllTroubleReports"
            android:label="@string/title_activity_list_all_tr" >
        </activity>
        <activity
            android:name=".AddTroubleReport"
            android:label="@string/title_activity_add_trouble_report" >
        </activity>
    </application>

    <uses-sdk
        android:maxSdkVersion="19"
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

</manifest>
